
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminIndexLayout";
}

<style>
    .col-md-10 .row .col-sm-6 .card1 {
        width: 200px;
        height: 200px;
        background-image: url("/images/6.jpg");
        margin-left: 20px;
        margin-bottom: 15px;
        float: left;
    }

    .col-md-10 .row .col-sm-6 .card {
        width: 200px;
        height: 200px;
        background-image: url("/images/6.jpg");
        margin-left: 20px;
        margin-bottom: 15px;
        float: right;
    }

    .row {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .col-md-10 .row .col-sm-6 .cardtext {
        font: black;
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
    }

        .col-md-10 .row .col-sm-6 .cardtext p {
            text-align: center;
            font-size: 25px;
        }
</style>
<div class="container" style="opacity: 0.6;">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">
            <ul class="short_ls">
                <li>
                    <a asp-controller="Administrator" asp-action="Index">首页</a>
                    <span>| |</span>
                </li>
                <li>系统概况</li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-success leftSidebar" id="leftSidebar">
                <div class="panel-heading">
                    <h3 class="panel-title">快捷菜单</h3>
                </div>
                <div class="panel-body">
                    <a id="" asp-controller="Administrator" asp-action="Index" class="list-group-item">返回首页</a>
                    <a id="" href="" class="list-group-item">查看学生信息</a>
                    <a id="" asp-controller="Administrator" asp-action="ChangePassword" class="list-group-item">密码修改</a>
                    <a id="" asp-controller="Administrator" asp-action="GetOrderById" class="list-group-item">查询预订信息</a>
                    <a id="" asp-controller="Administrator" asp-action="ReferSeatByIdView" class="list-group-item">查询座位</a>
                    <a id="top" href="" class="list-group-item">回到顶部</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        系统概况
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card" id="CurrentOrderNum">
                                <!-- 正在使用订单 -->
                                <div class="cardtext">
                                    正在使用订单：<p id="CurrentOrderNum">14</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card1" id="">
                                <!-- 所有订单数 -->
                                <div class="cardtext">
                                    订单数：<p id="AllOrderNum">12</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card" id="violateOrderNum">
                                <!-- 违约订单 -->
                                <div class="cardtext">
                                    违约订单：<p id="violateOrderNum">11</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card1" id="OrderNum">
                                <!-- 预约订单数 -->
                                <div class="cardtext">
                                    预约订单：<p id="violateOrderNum">13</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/js//checkStudentOrder.js"></script>