
@{
    ViewData["Title"] = "adminManageSeatInfo";
}

<!-- 学生个人信息页面 -->

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Home</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!-- //meta-tags -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <style>
        #selectAll {
            float: left;
            height: auto;
            width: auto;
        }

        #closeSeat {
            float: right;
            height: auto;
            width: auto;
        }

        #openSeat {
            float: right;
            height: auto;
            width: auto;
        }
    </style>
</head>

<body>
    <!-- header -->
    <div class="header-top">
        <div class="container">
            <div class="bottom_header_left">
                <p>
                    <span class="fa fa-map-marker" aria-hidden="true"></span>西安建筑科技大学
                </p>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header">
        <div class="content white">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <h1>
                                <span class="fa fa-leanpub" aria-hidden="true"></span>我的图书馆
                                <label>Education &Study </label>
                            </h1>
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="index.html" class="effect-3">订单查询</a>
                                </li>
                                <li>
                                    <a href="about.html" class="effect-3">查看个人信息</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ChangePasswordView","Administrator")" class="effect-3">密码修改</a>
                                </li>
                                <li>
                                    <a href="join.html" class="effect-3">申诉</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </div>
            </nav>
        </div>
    </div>
    <div class="container" style="opacity: 0.6;">
        <div class="services-breadcrumb">
            <div class="inner_breadcrumb">
                <ul class="short_ls">
                    <li>
                        <a href="index.html">首页</a>
                        <span>| |</span>
                    </li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-success leftSidebar" id="leftSidebar">
                    <div class="panel-heading">
                        <h3 class="panel-title">快捷菜单</h3>
                    </div>
                    <div class="panel-body">
                        <a id="" href="" class="list-group-item">订单查询</a>
                        <a id="" href="" class="list-group-item">查看个人信息</a>
                        <a id="" href="@Url.Action("ChangePasswordView","Administrator")" class="list-group-item">密码修改</a>
                        <a id="" href="" class="list-group-item">申诉</a>
                        <a id="top" href="" class="list-group-item">回到顶部</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="page-header" style="margin-top: 15px;">
                    <h1><small>座位信息管理</small></h1>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading" style="float: left;">
                        <h3 class="panel-title">地点</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <select class="form-control" id="selectPlace" onchange="getValueOfPlace()">
                                    <option value="南山图书馆">南山图书馆</option>
                                    <option value="学府城图书馆">学府城图书馆</option>
                                    <option value="本部图书馆">本部图书馆</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control select" id="selectFloor" onchange="getValueOfFloor()">
                                    <option value="1">1楼</option>
                                    <option value="2">2楼</option>
                                    <option value="3">3楼</option>
                                    <option value="4">4楼</option>
                                    <option value="5">5楼</option>
                                </select>
                            </div>
                            <form id="" asp-controller="Administrator" asp-action="ReferSeatById" method="post">
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="seatid" placeholder="请输入座位号">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary btn-sm">查询</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading" style="float: left;">
                                <h3 class="panel-title">状态</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <input type="radio" name="status">
                                    <span class="label label-info">正在使用</span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="radio" name="status">
                                    <span class="label label-primary">未使用</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="panel panel-success">
                            <div class="panel-heading" style="float: left;">
                                <h3 class="panel-title">操作</h3>
                            </div>
                            <div class="panel-body" style="padding: 13px;">
                                <div class="col-sm-4">
                                    <button class="btn btn-primary btn-sm" id="closeSeat">关闭</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary btn-sm" id="openSeat">开放</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="libraryList" data-example-id="hoverable-table">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>座位编号</th>
                                <th>图书馆名</th>
                                <th>楼层</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><input type="checkbox" name="singleStatus" value="2-31"></th>
                                <td>2-31</td>
                                <td>南山图书馆</td>
                                <td>5楼</td>
                                <td><label class="label label-danger">正在使用</label></td>
                                <td>
                                    <button class="modify btn btn-success btn-sm"
                                            onclick="modifyBtn(1,this)">
                                        开放
                                    </button>
                                    <button class="delete btn btn-danger btn-sm" onclick="deleteBtn(1,this)">关闭</button>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <input type="checkbox" name="singleStatus" value="2-33"></<input>
                                </th>
                                <td>2-33</td>
                                <td>南山图书馆</td>
                                <td>5楼</td>
                                <td><label class="label label-danger">正在使用</label></td>
                                <td>
                                    <button class="modify btn btn-success btn-sm"
                                            onclick="modifyBtn(1,this)">
                                        开放
                                    </button>
                                    <button class="delete btn btn-danger btn-sm" onclick="deleteBtn(1,this)">关闭</button>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <input type="checkbox" name="singleStatus" value="3-34"></<input>
                                </th>
                                <td>3-34</td>
                                <td>南山图书馆</td>
                                <td>5楼</td>
                                <td><label class="label label-danger">正在使用</label></td>
                                <td>
                                    <button class="modify btn btn-success btn-sm"
                                            onclick="modifyBtn(1,this)">
                                        开放
                                    </button>
                                    <button class="delete btn btn-danger btn-sm" onclick="deleteBtn(1,this)">关闭</button>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <input type="checkbox" name="singleStatus" value="2-35"></<input>
                                </th>
                                <td>2-35</td>
                                <td>南山图书馆</td>
                                <td>5楼</td>
                                <td><label class="label label-danger">正在使用</label></td>
                                <td>
                                    <button class="modify btn btn-success btn-sm"
                                            onclick="modifyBtn(1,this)">
                                        开放
                                    </button>
                                    <button class="delete btn btn-danger btn-sm" onclick="deleteBtn(1,this)">关闭</button>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <input type="checkbox" name="singleStatus" value="2-36"></<input>
                                </th>
                                <td>2-36</td>
                                <td>南山图书馆</td>
                                <td>5楼</td>
                                <td><label class="label label-danger">正在使用</label></td>
                                <td>
                                    <button class="modify btn btn-success btn-sm"
                                            onclick="modifyBtn(1,this)">
                                        开放
                                    </button>
                                    <button class="delete btn btn-danger btn-sm" onclick="deleteBtn(1,this)">关闭</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <!-- footer -->
    <div class="mkl_footer">
        <div class="sub-footer">
            <div class="container">
                <div class="mkls_footer_grid">
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>地点:</h4>
                        <p>
                            西安建筑科技大学,
                            <br> 草堂校区
                        </p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>联系方式:</h4>
                        <p>
                            <span>电话 : </span>001 234 5678
                        </p>
                        <p>
                            <span>邮箱 : </span>
                            <a href="mailto:info@example.com">mail@example.com</a>
                        </p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>开放时间 :</h4>
                        <p>每日：8：00—23：00</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-->

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/numscroller-1.0.js"></script>
    <script src="~/js/jquery.flexisel.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/checkStudentOrder.js"></script>
    <script>
        // 复选框的全选和全不选
        // 获得上面的复选框
        $("#selectAll").click(function () {
            // alert($selectAll.prop("checked"));
            if ($("#selectAll").prop("checked") == true) {
                // 上面的复选框已被选中
                $(":checkbox[name='singleStatus']").prop("checked", true);
            } else {
                // 上面的复选框没被选中
                $(":checkbox[name='singleStatus']").prop("checked", false);
            }
        });


        function getAllChecked() {
            var checkID = []; //定义一个空数组
            $("input[name='singleStatus']:checked").each(function (i) { //把所有被选中的复选框的值存入数组
                checkID[i] = $(this).val();
            });
            return checkID;
            console.log(checkID);
        }
        $("#closeSeat").click(function () {
            var checkID = getAllChecked();
            console.log(checkID);
            //获取到数据，将数据抛到后端
        });
        $("#openSeat").click(function () {
            var checkID = getAllChecked();
            console.log(checkID);
            //获取到数据，将数据抛到后端
        });

    </script>
</body>

</html>

